教学专用/第五章 工作流节点 -  变量聚合器.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 第五章 工作流节点 -  变量聚合器
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.0.14@d333909fe8d75a335b44da4b878d5120779b8703f12c21cf4730135d6864afbb
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1744509978866-llm
      source: '1744509978866'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: llm-source-1744510128408-target
      source: llm
      sourceHandle: source
      target: '1744510128408'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1744510128408-source-1744510295057-target
      source: '1744510128408'
      sourceHandle: source
      target: '1744510295057'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1744510295057-true-1744510389357-target
      source: '1744510295057'
      sourceHandle: 'true'
      target: '1744510389357'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1744510295057-038be122-8f35-483d-b7da-43b40a2c7396-17445104309670-target
      source: '1744510295057'
      sourceHandle: 038be122-8f35-483d-b7da-43b40a2c7396
      target: '17445104309670'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1744510295057-false-17445104389090-target
      source: '1744510295057'
      sourceHandle: 'false'
      target: '17445104389090'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1744510389357-source-1744510529069-target
      source: '1744510389357'
      sourceHandle: source
      target: '1744510529069'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 17445104309670-source-1744510529069-target
      source: '17445104309670'
      sourceHandle: source
      target: '1744510529069'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 17445104389090-source-1744510529069-target
      source: '17445104389090'
      sourceHandle: source
      target: '1744510529069'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: variable-aggregator
        targetType: answer
      id: 1744510529069-source-answer-target
      source: '1744510529069'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 53
      id: '1744509978866'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params: {}
          mode: chat
          name: qwen-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 2e6d5820-f1b5-42a6-b816-c835ade8ee67
          role: system
          text: 请随机输出一个数字，这个数字是1-100之间的数字，请只输出数字，不要输出其他乱七八糟的东西。
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: llm
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1744510529069.output#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 104
      id: answer
      position:
        x: 1333.4772723108065
        y: 554.908467711233
      positionAbsolute:
        x: 1333.4772723108065
        y: 554.908467711233
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\nfunction main({numStr}) {\n    return {\n        result: parseInt(numStr)\n\
          \    }\n}\n"
        code_language: javascript
        desc: ''
        outputs:
          result:
            children: null
            type: number
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - llm
          - text
          variable: numStr
      height: 53
      id: '1744510128408'
      position:
        x: 380
        y: 424.32765878601384
      positionAbsolute:
        x: 380
        y: 424.32765878601384
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '>'
            id: 87dd57bf-22cb-49c1-ae9e-b7057e71495e
            value: '50'
            varType: number
            variable_selector:
            - '1744510128408'
            - result
          id: 'true'
          logical_operator: and
        - case_id: 038be122-8f35-483d-b7da-43b40a2c7396
          conditions:
          - comparison_operator: <
            id: 9089f78f-dab1-49f3-8013-6b28462d4a50
            value: '50'
            varType: number
            variable_selector:
            - '1744510128408'
            - result
          logical_operator: and
        desc: ''
        selected: false
        title: 条件分支
        type: if-else
      height: 173
      id: '1744510295057'
      position:
        x: 380
        y: 530.7977289436448
      positionAbsolute:
        x: 380
        y: 530.7977289436448
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: <font color="red">数字为：{{ num }}</font>
        title: '模板转换 -1 '
        type: template-transform
        variables:
        - value_selector:
          - '1744510128408'
          - result
          variable: num
      height: 53
      id: '1744510389357'
      position:
        x: 675.8477758789766
        y: 523.6011063180188
      positionAbsolute:
        x: 675.8477758789766
        y: 523.6011063180188
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: <font color="blue">数字为：{{ num }}</font>
        title: 模板转换 -2
        type: template-transform
        variables:
        - value_selector:
          - '1744510128408'
          - result
          variable: num
      height: 53
      id: '17445104309670'
      position:
        x: 686.7342921157143
        y: 614.3220749574992
      positionAbsolute:
        x: 686.7342921157143
        y: 614.3220749574992
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: <font color="green">数字为：{{ num }}</font>
        title: 模板转换 -3
        type: template-transform
        variables:
        - value_selector:
          - '1744510128408'
          - result
          variable: num
      height: 53
      id: '17445104389090'
      position:
        x: 680.6862275397489
        y: 716.5343662913137
      positionAbsolute:
        x: 680.6862275397489
        y: 716.5343662913137
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        output_type: string
        selected: false
        title: 变量聚合器
        type: variable-aggregator
        variables:
        - - '1744510389357'
          - output
        - - '17445104309670'
          - output
        - - '17445104389090'
          - output
      height: 152
      id: '1744510529069'
      position:
        x: 1035.9490715411712
        y: 530.7977289436448
      positionAbsolute:
        x: 1035.9490715411712
        y: 530.7977289436448
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -443.30854524132087
      y: -409.348830984879
      zoom: 1.1780196896988804
